.div{
    background-color: aquamarine;
    border: 20px solid brown;
    padding: 20px;
    margin: 20px;
}
.heading{
    font-style: italic;
    font-family: sans-serif;
    font-size: 20px;
    color: magenta;
    text-align: center;
    font-weight: bolder;
}
.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list{
    font-size: larger;
    font-family: fantasy;
    color: blue;
}
.div1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.music{
    border: 20px solid brown;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.media{
    font-size: 20px;
    color: rgb(5, 189, 82);
    font-weight: bold;
}